[Unit]
Description=ubusd service
After=network.target

[Service]
ExecStart=/usr/sbin/ubusd
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target

